*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}


.nav{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.217);
    border-radius: 0px 0px 10px 10px;
   
}

.button{
    margin: 0px 20px;
    flex-basis: 400px;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-around;
}

.butn{
    display: flex;
    align-items: center;
    flex-basis: 65px;
    height: 30px;
    border: none;
    background-color: white;
    font-size: 15px;
    justify-content: center;
}

.join{
    flex-basis: 45px;
    border: 1px solid rgba(128, 128, 128, 0.693);
    border-radius: 10px;
}

.butn:hover{
    background-color: rgba(128, 128, 128, 0.109);
    border-radius: 10px;
}

.exp{
    flex-basis: 75px;
}

.upload{
    flex-basis: 85px;
    background-color: rgba(20, 178, 118);
    border-radius: 10px;
    color: white;
}

.upload:hover{
    background-color: rgba(20, 178, 117, 0.861);
}

/* main bg */

.bg-slider{
    width: 95%;
    height: 400px;
    margin: 20px 2%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: slider 9s infinite;
    position: relative;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/*  Opacity Overlay */
.bg-slider::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.299);
}

/* Background images change one after another */
@keyframes slider{
    0%   { background-image: url("p1.webp"); }
    
    66%  { background-image: url("p2.webp"); }
    100% { background-image: url("bg1.jpeg"); }
}



.content{
    width: 1300px;
    height: 380px;
   display: flex;
  flex-direction: column;
 align-items: center;
 justify-content: center;
    gap: 15px;


}
.content>h1{
    
    color: white;
}

.mb1{
    width: 800px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    
}

.mb1 > button{
    font-size: 16px;
    width: 80px;
    height: 35px;
    border-radius: 13px;
    border: none;
    background-color: rgba(255, 255, 255, 0.318);
    color: white;
}



.mb1>button:first-child{
    background-color: white;
    color: black;
}


.content>input{
    width: 900px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.41);
    border: none;
    border-radius: 20px;
    
    font-size: 15px;


}

.mb2{
   height: 40px;
   width: 880px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}


.mb2>button{
    flex-basis: 60px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.439);
    border: none;
    border-radius: 10px;
color: white;
}

.section1{
    width: 95%;
    height: 300px;
    margin: 10px 2%;
   margin-top: 70px;
}

.card1{
    width: 95%;
    height: 250px;
   
    margin: 10px 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    justify-content: space-around;
}
.c1{
    width: 300px;
    height: 90px;
    border:  1px solid rgba(128, 128, 128, 0.164);
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.desc{
    margin: 10px;
    width: 130px;
    height: 70px;
   
  
}

.desc>h5{
   padding: 10px 10px 5px 10px;
   font-weight: 600;
}
.desc>p{
    font-size: 13px;
   padding-left: 10px;
   color: rgba(128, 128, 128, 0.392);
}


.decImg{
    width: 130px;
    height: 100%;
    margin: 0px ;
    position: relative;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    border-radius: 10px;
}
.decImg>img{
    position: absolute;
    left: 65px;
    object-fit: cover;
transform: rotate(-40deg);
border-radius: 10px;

}

.decImg>img:hover{

  transform: rotate(-10deg);
   position: absolute;
    left: 45px;
}


.decImg>video{
    width: 110px;
    height: 140px;
    position: absolute;
    left: 60px;
    object-fit: cover;
transform: rotate(-40deg);
border-radius: 10px;

}

.decImg>video:hover{

  transform: rotate(-10deg);
   position: absolute;
    left: 45px;
}

/* container */

.full{
    width:100%;
    padding:40px;
}

.fimg{
    width:90%;
    margin:auto;
}

/* ---------- ROW 1 ---------- */

.r1{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
}

.r1 img{
    width:100%;
    height:450px;
    object-fit:cover;
    border-radius:12px;
}

/* ---------- ROW 2 GRID ---------- */

.r2{
    margin-top:30px;

    display:grid;

    /* 4 columns */
    grid-template-columns:repeat(4,1fr);

    /* auto rows */
    grid-auto-rows:220px;

    gap:20px;

    
}

/* normal images */

.r2 img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:12px;
}

/* BIG IMAGE */

.big{
    grid-row:span 2;
}

/* hover effect */

.r2 img:hover{
    transform:scale(1.03);
    transition:0.3s;
}

.r1 img:hover{
    transform:scale(1.03);
    transition:0.3s;
}
.full>h3{
    margin: 10px 10px 40px 80px;
}

.full>button{
   margin: 40px 43%;
   width: 200px;
   height: 40px;
   border-radius: 15px;
   border: none;
}

.full>button:hover{
    background-color: aliceblue;
    transition: 0.3s;
    transform: scale(1.1);

}

.Collection{
    width: 100%;
    height: 430px;
    
}
#text{
    font-weight: 600;
}

.btn{
    width: 280px;
    height: 40px;
    border: none;
    margin: 30px 0px 0px 10px;
    border-radius: 20px;
   display: flex;
   align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    background-color: rgba(128, 128, 128, 0.095);
    
}

#p{
    color: grey;

}
#btncol>i{
    color: gray;
}
#btncol1{
    height: 30px;
    width: 130px;
    border: none;
    color: rgb(16, 16, 16);
    border-radius: 10px;
    background-color:white ;
    font-size: 15px;
    
   
}
#btncol1>i{
    margin-right: 10px;
    color:rgb(13, 170, 13);
}
.small{
    margin-top: 20px;
    width: 100%;
    height: 300px;
    
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.sm{
    width: 280px;
    height: 65px;
   
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.smI{
    margin-top: 7px;
    width: 60px;
    height: 60px;

}

.smT{
    width: 160px;
    height: 60px;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
}
#t1{
    font-weight: 600;
    font-size: 15px;
}

#t2{
    font-size: 12px;
    color: rgba(128, 128, 128, 0.33);
}
.smI:hover{
    transform:scale(1.07);
    transition: 0.3;
}

.cd{
    width: 100%;
    height: 500px;
  
}

.sc1{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    
   
}
.sc1>h3{
    font-weight: 500;
}

.sc1>button{
    width: 100px;
    border: none;
    border-radius: 10px;
}

.sc2{
    width: 100%;
    height: 460px;
  
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.n1{
    width: 420px;
    height: 450px;
    margin-left: 15px;
}
.n1>img{
    border-radius: 10px;
    object-fit: cover;
}
.b2{
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
}
.b2>button{
    border: none;
    height: 25px;
    width: 140px;
    border-radius: 8px;
    margin-left: 10px;
}

#o1{
    font-size: 14px;
    margin-left: 10px;
}

#o2{
    margin-left: 10px;
    font-size: 12px;
    color: gray;
} 

.fot{
    margin-top: 80px;
    width: 100%;
    height: 500px;
    display: flex;
    border-top: 1px solid rgba(128, 128, 128, 0.266);

    
    
}
.f1{
    width: 45%;
    height: 350px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
}
.cap>p{
    font-size: 14px;
    color: grey;
    margin-left: 20px;
    font-weight: 400;
}

.icon{
    width: 100%;
    height: 30px;
}

.icon>i{
    margin-left: 4px;
    width: 30px;
    height: 20px;
}
.f2{
    width: 55%;
    height: 350px;
    margin-top: 50px;
 
}
table{
    border-spacing: 80px 15px;
    color: gray;
    
}
#bold{
    font-weight: bolder;
    color: black;
}