body{
    background-color: rgba(247, 171, 96);
}

.mainbox{

    width: 1250px;
    height: 1000px;
   margin: 50px  100px ;
 border-radius: 20px;
   background-color: rgba(253, 196, 115);
    transition: 1s;
}
.mainbox:hover{
    box-shadow: 3px 5px 18px black;
    transition: 1s;
}
.head{
    width: 1250px;
    height: 140px;
    
    margin: 3px 0px;
}

#title{

    width: 1238px;
    height: 70px;
   
    margin: 2px;

}

#titleH1{
    text-align: center;
    font-size: 35px;
    margin: 0px;
    padding: 10px ;
     color: rgba(31, 59, 111);
}

/*navBar*/

.nav{
    width: 1250px;
    height: 50px;
    text-align: center;
  
    font-size: 25px;
   background-color: rgba(250, 225, 192);
    transition: 0.6;
}
.anchor{
    margin-top: 5px;
text-decoration: none;
padding: 0px  14px;
display: inline-block;


}








.anchor:link{
    color:   rgba(31, 59, 111); 
}
.anchor:visited{
    color:   rgba(31, 59, 111); ;
}

.anchor:hover{
    background-color:rgba(41, 68, 111) ;
    border: 1px solid  rgba(31, 59, 111);
    color: white;
    border-radius: 6px;
    transition: 0.6s;

    
  
}

#reg:hover{
    background-color: rgb(240, 189, 22);
    color: rgba(41, 68, 111);
    transition: 1s;
    border-radius: 8px;
    border: 2px solid  rgb(240, 189, 22);
    
}

/*search and des*/

.desc{
    width: 100%;
    height: 230px;
   
}

#content{
    width: 100%;
    height: 90px;
   
}
#content>h1{

    text-align: center;
    font-size: 43px;
     color: rgba(31, 59, 111);
     margin: 0px;
     padding: 20px 0px 0px 0px;

}

#search{

    width: 100%;
    height: 70px;
 
}


#ser{

    width: 700px;
    margin: 13px 10px 10px 270px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid white;
}
    

#serB{
 
   background-color:rgba(31, 59, 111);
   color: whitesmoke;
   width: 90px;
   height: 36px;
   border: 1px solid rgba(31, 59, 111);
   border-radius: 10px;
   font-size: 18px;
    transition: 1s;
    
}

#serB:hover{

    box-shadow: 2px 3px 3px rgba(31, 59, 111);
    transition: 1s;
}

/*table*/

#grad{
    width: 700px;
    height: 50px;
    
    margin: 10px 10px 10px 270px;
}

table{

    color: rgba(31, 59, 111) ;
    width: 650px;
}

select{
    text-align: center;
    background-color:rgba(31, 59, 111) ;
    color: rgba(245, 245, 245, 0.753);

    border: 1px solid rgba(245, 247, 254, 0.502);

    border-radius: 5px;

}

/*Course List */

.list{
    width: 1210px;
    margin: 10px 20px;
    height: 600px;
   border-radius: 10px;
    overflow: auto;
    background-color: rgba(253, 233, 203);
}



.btec{
    width: 1000px;
    height: 220px;
    border: 1px solid rgb(240, 201, 143) ;
    margin: 20px 20px 20px 200px;
    display: flex;
    border-radius: 8px;
    transition: 1s;

}

.btec:hover{

    box-shadow: 2px 10px 25px rgb(240, 201, 143);
    transition: 1s;
}

#img{
    border-radius: 8px 0px 0px 8px ;
}

.listC{
    width: 800px;
    height: 170px;
    margin: 25px;
    
    
}

#textt>h1{
    margin: 0px;
    color: rgba(31, 59, 111);
    padding: 10px;
}
#textt>p{
    margin: 0px;
    color: rgba(31, 59, 111);
    padding: 10px;
}

#button{
    width: 150px;
    height: 35px;
   background-color: rgba(31, 59, 111);
   color: whitesmoke;
   font-size: 18px;
   border-radius: 8px;
   margin: 20px 20px 10px 400px;
   transition: 1s;
}
#button:hover{
    box-shadow: 3px 4px 5px rgba(31, 59, 111);
    transition: 1s;
}


