body {
  margin: 0;
  height: 100vh;

  background: linear-gradient(to bottom,
    rgba(201, 222, 248, 1),
    rgba(238, 242, 253, 1),
    rgba(201, 222, 248, 1)
  );
}
/**/
/*main box*/
#main{
    margin: 50px 100px 10px 100px;
    border: 2px solid rgb(103, 90, 90);
    width: 1250px;
    height: 800px;
    border-radius: 10px;
    transition: 1s;
    background-color: whitesmoke;
    
}

#main:hover{

     box-shadow: 8px 20px 15px black;
     transition: 1s;

}

/*header*/
#title{
   
    margin: 0px;
   height: 50px;
   
}


/*title*/
#header{
    background-color: rgba(201, 222, 248, 1);
}

#titleH1{
    margin: 0px;
    text-align: center;
    color: rgba(31, 59, 111);
    
}

/*navbar*/
#nav{
    width: 1246px;
    margin: 0px;
    height: 40px;
    border: 2px solid rgba(201, 222, 248, 1) ;
    background-color:#dee9f9;
    text-align: center;
    font-size: 25px;
    
}

/*pages*/
a{
    text-decoration: none;
    
}

#home{
     margin: 0px;
    
     
}

#home:link{
    color:  rgba(31, 59, 111);
}
#home:visited{
    color:  rgba(31, 59, 111);
}
#home:active{
    color:  rgba(31, 59, 111);
}

#home:hover{
    background-color: rgba(91, 136, 198);
    color: white;
    border-radius: 5px;
   padding: 1px 3px 9px 3px;
    transition: 0.5s;
    
}



#about:link{
    color:  rgba(31, 59, 111);
}
#about:visited{
    color:  rgba(31, 59, 111);
}
#about:active{
    color:  rgba(31, 59, 111);
}

#about:hover{
    background-color: rgba(91, 136, 198);
    color: white;
    border-radius: 5px;
   padding: 1px 3px 9px 3px;
    transition: 0.5s;
    
}




#blog:link{
    color:  rgba(31, 59, 111);
}
#blog:visited{
    color:  rgba(31, 59, 111);
}
#blog:active{
    color:  rgba(31, 59, 111);
}

#blog:hover{
    background-color: rgba(91, 136, 198);
    color: white;
    border-radius: 5px;
   padding: 1px 3px 9px 3px;
    transition: 0.5s;
}




#course:link{
    color:  rgba(31, 59, 111);
}
#course:visited{
    color:  rgba(31, 59, 111);
}
#course:active{
    color:  rgba(31, 59, 111);
}

#course:hover{
    background-color: rgba(91, 136, 198);
    color: white;
    border-radius: 5px;
   padding: 1px 3px 9px 3px;
    transition: 0.5s;
}




#event:link{
    color:  rgba(31, 59, 111);
}
#event:visited{
    color:  rgba(31, 59, 111);
}
#event:active{
    color:  rgba(31, 59, 111);
}

#event:hover{
    background-color: rgba(91, 136, 198);
    color: white;
    border-radius: 5px;
   padding: 1px 3px 9px 3px;
    transition: 0.5s;
}



#contact:link{
    color:  rgba(31, 59, 111);
}
#contact:visited{
    color:  rgba(31, 59, 111);
}
#contact:active{
    color:  rgba(31, 59, 111);
}

#contact:hover{
    background-color: rgba(91, 136, 198);
    color: white;
    border-radius: 5px;
   padding: 1px 3px 9px 3px;
    transition: 0.5s;
}




#login:link{
    color:  rgba(31, 59, 111);
}
#login:visited{
    color:  rgba(31, 59, 111);
}
#login:active{
    color:  rgba(31, 59, 111);
}

#login:hover{
    background-color: rgba(91, 136, 198);
    color: white;
    border-radius: 5px;
   padding: 1px 3px 9px 3px;
    transition: 0.5s;
}


#register:link{
    color:  rgba(31, 59, 111);
}
#register::visited{
    color:  rgba(31, 59, 111);
}
#register::active{
    color:  rgba(31, 59, 111);
}

#register:hover{
    background-color: rgba(243, 186, 59);
    color:rgba(31, 59, 111);
    border-radius: 5px;
   padding: 1px 3px 9px 3px;
    transition: 0.5s;
}




/*Welcome text*/
#text{
  
    margin: 10px;
}

.text{
    
    color: rgba(31, 59, 111);
    font-size: 70px;
    text-align: center;
    
   

}
.h{
    padding: 20px;
    margin: 0px;
}
.p{
    font-size: 20px;
    margin: 0;
}


/*schollImage*/
 
#boxImg{
    width: 1246px;
    height: 400px;
}
#bImg{
    width: 600px;
    height: 350px;
    margin: 25px 250px 25px 290px;
}

/*fotter */

#footer{
    margin: 3px;
       display: flex;

}
#footer>a:active{
    color: rgba(31, 59, 111);

}

#footer>a:link{
    color: rgba(31, 59, 111);

}
#footer>a:visited{
    color: rgba(31, 59, 111);

}

#popular{
    width: 400px;
    height: 100px;
    border: 1px solid rgb(111, 171, 243);
    margin: 2px 30px 2px 30px;
    display: flex;
    color: rgba(31, 59, 111);
     background-color:  rgba(201, 222, 248, 1);
  
}
#popular:hover{
    box-shadow: 8px 16px 20px black;
    transition: 1s;
}
.icon{
   margin: 15px 15px;

}

.fText>h1{
    margin: 10px 10px 0px;
  
}

.fText>p{

    margin: 0px;
    margin-left:15px ;
     
}


#aboutUs{
    width: 400px;
    height: 100px;
    border: 1px solid rgb(111, 171, 243);
     background-color: rgba(201, 222, 248, 1);
     display: flex;
 
}
#aboutUs:hover{
    box-shadow: 8px 16px 20px black;
    transition: 1s;
}
.iconA{
    margin: 10px 15px;
}

.aboutText>h1{
    margin: 0px;
    padding: 5px;
}

.aboutText>p{
    margin: 0px;
    padding-left: 8px;
}


#support{
    width: 350px;
    height: 100px;
    border: 1px solid rgb(111, 171, 243);
    margin-left: 10px;
    display: flex;
    background-color: rgba(201, 222, 248, 1);

}
#support:hover{
    box-shadow: 8px 16px 20px black;
    transition: 1s;
}
.iconS{
    margin: 15px;

}

.textS>h1{
    margin: 5px ;
}

.textS>p{
    margin: 0px 15px;
}

/*Box image last*/

#boxShow{
    width: 1246px;
    height: 380px;
    margin: 100px 100px 10px  100px;
   
    display: flex;
  
}

.cs{
    width: 350px;
    height: 300px;
    border: 1px solid rgb(178, 200, 226);
    margin: 50px 25px;
    border-radius: 10px;
    background-color: whitesmoke;
    transition: 1s;
}

#csImg{
     
    width: 100%;
   
    border-radius: 5px;
}
#csText{
    margin: 10px;
    background-color: whitesmoke;
    
}

#csText>h1{
    margin: 0px 2px 5px 2px;
}

#csText>p{
    margin: 0px 2px 5px 12px;
}

#csButton{
    width: 340px;
    height: 45px;
    border: 1px solid rgb(209, 223, 241);
    margin: 5px;
}

.viewDeatilsM{

    color: white;
    background-color: rgba(31, 59, 111);
    border-radius: 5px;
    font-size: 20px;
    margin: 10px 10px 5px 200px;
    transition: 1s;
}

.viewDeatilsM:hover{
    box-shadow: 2px 10px 18px rgb(237, 151, 151);
    transition: 1s;
}

.cs:hover{
    box-shadow: 6px 10px 18px black;
    transition: 1s;
}


.bs{
    width: 350px;
    height: 300px;
    border: 1px solid rgb(178, 200, 226);
    margin: 50px 25px;
    border-radius: 10px;
    background-color: whitesmoke;
    transition: 1s;
}

#bsImg{
     
    width: 100%;
   
    border-radius: 5px;
}
#bsText{
    margin: 10px;
    background-color: whitesmoke;
    
}

#bsText>h1{
    font-size: 25px;
    margin: 0px 2px 5px 2px;
}

#bsText>p{
    margin: 0px 2px 5px 12px;
}

#bsButton{
    width: 340px;
    height: 45px;
    border: 1px solid rgb(209, 223, 241);
    margin: 5px;
}

.viewDeatilsM{

    color: white;
    background-color: rgba(31, 59, 111);
    border-radius: 5px;
    font-size: 20px;
    margin: 10px 10px 5px 200px;
    transition: 1s;
}

.viewDeatilsM:hover{
    box-shadow: 2px 10px 18px rgb(237, 151, 151);
    transition: 1s;
}

.bs:hover{
    box-shadow: 6px 10px 18px black;
    transition: 1s;
}







.is{
    width: 350px;
    height: 300px;
    border: 1px solid rgb(178, 200, 226);
    margin: 50px 25px;
    border-radius: 10px;
    background-color: whitesmoke;
    transition: 1s;
}

#isImg{
     
    width: 100%;
   
    border-radius: 5px;
}
#isText{
    margin: 10px;
    background-color: whitesmoke;
    
}

#isText>h1{
    font-size: 25px;
    margin: 0px 2px 5px 2px;
}

#isText>p{
    margin: 0px 2px 5px 12px;
}

#isButton{
    width: 340px;
    height: 45px;
    border: 1px solid rgb(209, 223, 241);
    margin: 5px;
}

.viewDeatilsM{

    color: white;
    background-color: rgba(31, 59, 111);
    border-radius: 5px;
    font-size: 20px;
    margin: 10px 10px 5px 200px;
    transition: 1s;
}

.viewDeatilsM:hover{
    box-shadow: 2px 10px 18px rgb(237, 151, 151);
    transition: 1s;
}

.is:hover{
    box-shadow: 6px 10px 18px black;
    transition: 1s;
}


/*button view all*/
#mainB{
    padding: 10px 15px;
    font-size: 25px;
    margin: 10px 400px 10px 600px;
    background-color:  rgba(243, 186, 59);
    color: rgba(31, 59, 111);
    border-radius: 10px;
    transition: 1s;
    border: 1px solid yellow;
}

#mainB:hover{
    box-shadow: 2px 8px 16px rgba(243, 186, 59);
    transition: 1s;
}

/*foot*/

#foot{
    width: 100%;
    height: 150px;
    border: 1px solid  rgba(31, 59, 111);
    color: rgba(31, 59, 111);
    text-align: center;
    margin: 30px 0px;
    
}

