body{
    background-color: rgba(247, 171, 96);
}

.mainbox{

    width: 1250px;
    height: 1000px;
   margin: 50px  100px ;
 border-radius: 20px;
   background-color: rgba(253, 196, 115);
    transition: 1s;
}
.mainbox:hover{
    box-shadow: 3px 5px 18px black;
    transition: 1s;
}
.head{
    width: 1250px;
    height: 140px;
    
    margin: 3px 0px;
}

#title{

    width: 1238px;
    height: 70px;
   
    margin: 2px;

}

#titleH1{
    text-align: center;
    font-size: 35px;
    margin: 0px;
    padding: 10px ;
     color: rgba(31, 59, 111);
}

/*navBar*/

.nav{
    width: 1250px;
    height: 50px;
    text-align: center;
  
    font-size: 25px;
   background-color: rgba(250, 225, 192);
    transition: 0.6;
}
.anchor{
    margin-top: 5px;
text-decoration: none;
padding: 0px  14px;
display: inline-block;


}








.anchor:link{
    color:   rgba(31, 59, 111); 
}
.anchor:visited{
    color:   rgba(31, 59, 111); ;
}

.anchor:hover{
    background-color:rgba(41, 68, 111) ;
    border: 1px solid  rgba(31, 59, 111);
    color: white;
    border-radius: 6px;
    transition: 0.6s;

    
  
}

#reg:hover{
    background-color: rgb(240, 189, 22);
    color: rgba(41, 68, 111);
    transition: 1s;
    border-radius: 8px;
    border: 2px solid  rgb(240, 189, 22);
    
}


/*content*/

.con{
    width: 100%;
    height: 0px;
    border: 1px solid;
     background-color: rgba(253, 196, 115, 0.758);
}
.con>h1{
    margin: 10px ;
    text-align: center;
    font-size: 35px;
    color: rgba(31, 59, 111);

}


   

.p{

    margin: 10px 10px 10px 80px;
    width: 1120px;
     color: rgba(31, 59, 111);
    text-align: center;
    font-size: 18px;
   
   

}

#mainImg{
    width: 100%;
    height: 350px;
   
    background-color: whitesmoke;
}


#mainImg>img{
    margin: 35px 300px;
}

/*foot*/


.foot{
    width: 100%;
    height: 200px;
    border: 1px solid;
    margin-top: 10px;
}

